* {
  box-sizing: border-box;
  font-family:
  'Montserrat',
  'Red Hat Text',
  'Give You Glory',
  Verdana,
  Georgia,
  sans-serif;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
  transform-origin: 50% 50%;
}

/* font-family: 'Architects Daughter', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Red Hat Text', sans-serif; */

body {
  font-family: 'Montserrat', 'Give You Glory', Verdana, Georgia, sans-serif;
  transition: background-color 0.3s ease-in-out;
  margin: 0;
  display: grid;
  grid-template-areas: 
    ". header"
    "nav main"
    "footer footer";
    grid-template-columns: 230px 1fr;
    grid-template-rows: 200px 1fr 200px;
    min-height: 99vh;
    
}

body::-webkit-scrollbar {
  display: none;
}

body footer {
  grid-area: footer;
  z-index: 1;
  --footer-background:#8d0fc7;
  display: grid;
  position: relative;
  min-height: 13rem;
  width: 100%;
}
body footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
  width: calc(100% - 3px);
}
body footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body footer .social {
  z-index: 2;
  background: var(--footer-background);
}
body footer .social a, body footer .social p {
  color: inherit;
  text-decoration: none;
}
body footer .social b {
  color: white;
}
body footer .social p {
  margin: 0;
}
body footer .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body footer .social > div {
  margin: 0.25rem 0;
}
body footer .social > div > * {
  margin-right: 0.5rem;
}
body footer .social > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

.socialTop {
  padding: 50px 0;
}

.socialContainer {
  max-width: 1320px;
  display: flex;
  align-items: center;
}

.socialContainerStats {
  margin-left: auto;
  margin-right: auto;
}

.socialText {
  position: relative;
  font-size: 45px;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 3px;
}

ul .socialList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li .socialItem {
  display: list-item;
  text-align: -webkit-match-parent;
}

.socialItem+.socialItem {
  margin-left: 123px;
}

.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizeFull {
  width: 100%!important;
}

.socialLinks {
  position: absolute;
  font-family: 'Give You Glory', cursive;
  display: inline-flex;
  color: inherit;
  background-size: cover;
  align-items: center;
}

.socialButton {
  margin-left: auto;
  margin-right: 69px;
}

.socialSites {
  padding-inline-end: 23px;
}

.socialBot {
  margin-top: -20px;
}

.socialYear {
  font-family: 'Give You Glory', cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

body.blackTheme {
  background-color: #000000;
  color: #ffffff;
}

body.whiteTheme {
  background-color: #ffffff;
  color: #000000;
}

.theme-button {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0px;
  top: 0px;
  transition: 0.3s ease-in-out;
}

.mainBox {
  grid-area: main;
  margin-bottom: 69px;
  margin-left: 32px;
}

header {
  grid-area: header;
  padding: 32px 69px 0 0;
}

.my-name {
  text-align: right;
  font-family: 'Indie Flower', sans-serif;
  font-size: 69px;
  margin: 13px 23px;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px;
  color: inherit;
  cursor: pointer;
}

.my-prof {
  text-align: right;
  font-family: 'Architects Daughter', sans-serif;
  font-size: 32px;
  margin: 13px 23px;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px;
  color: inherit;
}

nav {
  grid-area: nav;
  position: sticky;
  height: min-content;
  top: 100px;
  border: 0px solid rgb(255, 0, 0);
  transition: 0.3s ease-in-out;
}

nav a {
  padding: 17px 17px;
  width: 100%;
  text-align: center;
  transition: 0.3s ease-in-out;
  font-size: 20px;
  margin-bottom: 32px;
  margin-left: 8px;
}

.tablinks {
  position: relative;
  display: inline-block;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  padding: 23px 23px;
  color: #ff0000;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin: 30px 69px 30px 23px;
}

.tablinks:hover{
  background: #ff0000;
  color: #050801;
  box-shadow: 0 0 5px #ff0000,
              0 0 25px #ff0000,
              0 0 50px #ff0000,
              0 0 200px #ff0000;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
  filter: hue-rotate(270deg);
}
a:nth-child(2){
  filter: hue-rotate(110deg);
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#ff0000);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#ff0000);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#ff0000);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}

a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#ff0000);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

.tabcontent {
  padding: 23px 13px;
  transition: 0.3s ease-in-out;
}

#goToTopButton {
  display: none;
  position: fixed;
  bottom: 23px;
  right: 23px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(128, 128, 128);
  color: inherit;
  cursor: pointer;
  padding: 13px;
  border-radius: 23px;
  font-size: 23px;
}

#goToTopButton:hover {
  transition: 0.3s ease-in-out;
  opacity: 80%;
}

img {
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  transition: all 0.3s ease-in-out;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);

}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.row > img {
  width: calc(25% - 1em);
  flex: 32%;
  max-width: 23%;
  padding: 0 4px;
  object-fit: cover;
}

.column {
  -ms-flex: 32%; /* IE10 */
  flex: 32%;
  max-width: 23%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 font-size: inherit;
	 font-family: inherit;
}
button.sendMail {
	 font-weight: 600;
	 color: #382b22;
	 text-transform: uppercase;
	 padding: 1.25em 2em;
	 background: #fff0f0;
	 border: 2px solid #b18597;
	 border-radius: 0.75em;
	 transform-style: preserve-3d;
	 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   margin-left: auto;
   margin-right: 123px;
}

button.sendMail::before {
	 position: absolute;
	 content: '';
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: #f9c4d2;
	 border-radius: inherit;
	 box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
	 transform: translate3d(0, 0.75em, -1em);
	 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.sendMail:hover {
	 background: #ffe9e9;
	 transform: translate(0, 0.25em);
}

button.sendMail:hover::before {
	 box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
	 transform: translate3d(0, 0.5em, -1em);
}

button.sendMail:active {
	 background: #ffe9e9;
	 transform: translate(0em, 0.75em);
}

button.sendMail:active::before {
	 box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
	 transform: translate3d(0, 0, -1em);
}
