* {
  box-sizing: content-box;
  font-family: 'Red Hat Text', Verdana, Georgia, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', Verdana, Georgia, sans-serif;
  transition: background-color 0.3s ease-in-out;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  min-height: 100vh;
}

body .footer {
  z-index: 1;
  --footer-background:#8d0fc7;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 13rem;
  top: 2300px;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

.contentText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  left: 230px;
  top: 32px;
}

.contentLinks {
  position: fixed;
  left: 50px;
  top: 230px;
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

body.blackTheme {
  background-color: #000000;
  color: #ffffff;
}

body.whiteTheme {
  background-color: #ffffff;
  color: #000000;
}

.theme-button {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0px;
  top: 0px;
  transition: 0.3s ease-in-out;
}

.mainBox {
  width: 100%;
  height: 100%;
  height: 2200px;
}

.header {
  padding: 100px;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-name {
  text-align: right;
  font-family: 'Indie Flower', sans-serif;
  font-size: 69px;
  margin: 13px 23px;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px;
  color: rgb(255,255,255);
}

.my-prof {
  text-align: right;
  font-family: 'Architects Daughter', sans-serif;
  font-size: 32px;
  margin: 13px 23px;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px;
  color: rgb(255,255,255);
}

.tab {
  position: absolute;
  float: left;
  border: 0px solid rgb(255, 0, 0);
  width: 13%;
  height: 230px;
  transition: 0.3s ease-in-out;
}

.tab button {
  display: block;
  background-color: inherit;
  color: inherit;
  padding: 23px 23px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 32px;
}

.tab button:hover {
  opacity: 50%;
  transition: 0.3s ease-in-out;
}

.tab button.active {
  color: darkviolet;
  transition: 0.3s ease-in-out;
}

.tabcontent {
  float: left;
  padding: 23px 13px;
  width: 93%;
  border-left: none;
  height: 100%;
  transition: 0.3s ease-in-out;
}

#goToTopButton {
  display: none;
  position: fixed;
  bottom: 23px;
  right: 23px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(128, 128, 128);
  color: inherit;
  cursor: pointer;
  padding: 13px;
  border-radius: 23px;
  font-size: 23px;
}

#goToTopButton:hover {
  transition: 0.3s ease-in-out;
  opacity: 80%;
}

img {
  transition: 0.3s ease-in-out;
  filter: grayscale(100%);
}

img:hover {
  transition: 0.3s ease-in-out;
  filter: grayscale(0%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 169px;
}

.column {
  flex: 32%;
  max-width: 23%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* .flip-box {
  background-color: transparent;
  width: 230px;
  height: 69px;
  border: 0px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
} */